doctype html
html
    head
        style
            include style.css
    body
        div.header
            img(src='https://cdn2.iconfinder.com/data/icons/education-4-1/256/Homework-512.png', alt='icon')
            h1 Yura Ihnatovych Home Work
        div.main
            block content
        div.footer
            | Best regards
            br
            | Home Work Seven - Node Mailer
            br
            a(href="https://github.com/IhnatovychYura/NodeJS_2021/tree/master/NodeJS_HW/HomeWork_Seven_nodeMailer") Visit my HW GitHub
